### General ###
*.lock
archive

### Jekyll ###
_site/
_draft/
.jekyll-cache
.jekyll-metadata

### Sass ###
.sass-cache

### mac ###
.vscode

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db