<section id="benefits-section" class="benefits-section theme-bg-light-gradient py-5">
    <div class="container py-5">
        <h2 class="section-heading text-center mb-3" data-aos="fade-up">WHY 為何選擇院網？</h2>
        <div class="section-intro single-col-max mx-auto text-center mb-5" data-aos="fade-up">
            無論你是想要嘗試新的運動、早已對網球充滿憧憬、或是台大費德勒，只要對網球有一顆誠摯的心，都歡迎加入院網這個大家庭！<br>院網入隊無須任何基礎，強大教練及學長姊會帶你學會紮實網球技巧，變身管院潮潮✨✨✨<br>
            除了練球外，每學期也都有精彩活動，可以交到來自管院各系的好朋友，讓你不再害怕變成邊緣人！
        </div>
        <div class="row text-center">
            {% for item in site.data.benefits %}
            <div class="item col-12 col-md-6 col-lg-4">
                <div class="item-inner p-3 p-lg-4" data-aos="fade-up">
                    <div class="item-header mb-3">
                        <div class="item-icon"><i class="{{ item.icon }}"></i></div>
                        <h3 class="item-heading">{{ item.name }}</h3>
                    </div><!--//item-heading-->
                    <div class="item-desc">
                        {{ item.description }}
                    </div><!--//item-desc-->
                </div><!--//item-inner-->
            </div><!--//item-->
            {% endfor %}
        </div><!--//row-->
    </div><!--//container-->
</section><!--//benefits-section-->