<section id="content-section" class="content-section">
    <div class="container">
        <div class="single-col-max mx-auto">
        <h2 class="section-heading text-center mb-5" data-aos="fade-up">WHAT 平常在幹嘛？</h2>
            <div class="row">
                <div class="col-12 col-md-6" data-aos="fade-up">
                    <div class="figure-holder mb-5">
                        <img class="img-fluid" src="/images/what-we-do.png" alt="image" >
                    </div><!--//figure-holder-->
                </div><!--//col-->
                <div class="col-12 col-md-6 mb-5" data-aos="fade-up">
                    <div class="key-points mb-4 text-center">
                        <ul class="key-points-list list-unstyled mb-4 mx-auto d-inline-block text-left">
                            <li><i class="fas fa-check-circle mr-2"></i>每週一 18:00 - 20:00 快樂例練</li>
                            <li><i class="fas fa-check-circle mr-2"></i>分家練</li>
                            <li><i class="fas fa-check-circle mr-2"></i>聖誕趴</li>
                            <li><i class="fas fa-check-circle mr-2"></i>寒暑訓</li>
                            <li><i class="fas fa-check-circle mr-2"></i>隊遊</li>
                            <li><i class="fas fa-check-circle mr-2"></i>隊內賽</li>
                            <li><i class="fas fa-check-circle mr-2"></i>與別系的友誼賽</li>
                            <li><i class="fas fa-check-circle mr-2"></i>不排除爭取參與其他大學主辦的比賽</li>
                        </ul>
                        <div class="text-center"><a class="btn btn-primary" href="{{ site.trialForm }}">馬上報名試打</a></div>
                    </div><!--//key-points-->
                    
                </div><!--//col-12-->   
            </div><!--//row-->
        </div><!--//single-col-max-->
    </div><!--//container-->
</section><!--//content-section-->