<footer class="footer">

    <div class="footer-bottom text-center py-5">

        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">&copy;<script>document.write(new Date().getFullYear());</script>
            COM Tennis 台大管理學院網球隊 版權所有<br>
            <span style="font-size: 8px;">Based on <i class="fas fa-heart" style="color: #fb866a;"></i> from <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> and further developed by <a href="https://icheft.github.io" target="_blank">@icheft</a></span>
        </small>
        <div class="author-links text-center pt-4">
            <ul class="social-list list-unstyled">
                <li class="list-inline-item"><a href="https://github.com/icheft/COM-Tennis-Website"><i class="fab fa-github-alt"></i></a></li> 
                <li class="list-inline-item"><a href="https://facebook.com/ntucomtennis"><i class="fab fa-facebook-square"></i></a></li>
            </ul><!--//social-list-->
        </div><!--//author-links-->

    </div>
    
</footer>
   
<!-- Javascript -->          
<script src="/plugins/jquery-3.4.1.min.js"></script>
<script src="/plugins/popper.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>  
<script src="/plugins/jquery.scrollTo.min.js"></script>  
<script src="/plugins/back-to-top.js"></script>  

<script src="/js/main.js"></script>