<section id="form-section" class="form-section">
    <div class="container">
        <div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
            <h2 class="form-heading text-center">報名加入球隊</h2>
            <div class="form-intro text-center mb-3">趕快填寫入隊表單加入我們吧！</div>
            <div class="form-wrapper">
                <form class="form-inline justify-content-center flex-wrap">
                    <div class="form-group mr-md-2 mb-3 mb-md-0">
                        <label for="email" class="sr-only">入隊表單</label>
                        <input type="email" class="form-control " id="email" placeholder="入隊表單尚未開放" disabled>
                    </div>
                    <button type="submit" class="btn btn-primary btn-submit mb-3 mb-md-0" disabled>Send</button>
                </form>
            </div><!--//form-wrapper-->
        </div><!--//lead-form-wrapper-->
    </div><!--//container-->
</section><!--//form-section-->