<section class="gallery-section">
    <div class="container photos">
        <div class="row pt-4 mb-5 text-center">
            <div class="col-12">
              <h2 class="section-heading text-center mb-4" data-aos="fade-up">院網圖片庫</h2>
            </div>
          </div>
        <div class="row align-items-stretch">
        <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
            <a href="/images/test/img_1.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_1.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <a href="/images/test/img_2.jpg" class="popup-opt d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_2.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="fa fa-search"></span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <a href="/images/test/img_3.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_3.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
  
          <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
            <a href="/images/test/img_4.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_4.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <a href="/images/test/img_5.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
  
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up">
            <a href="/images/test/img_6.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_6.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <a href="/images/test/img_7.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_7.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
  
  
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
            <a href="/images/test/img_8.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_8.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <a href="/images/test/img_9.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_9.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <a href="/images/test/img_10.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_10.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
  
  
          <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
            <a href="/images/test/img_1.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_1.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <a href="/images/test/img_2.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_2.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <a href="/images/test/img_3.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_3.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
  
          <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
            <a href="/images/test/img_4.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_4.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <a href="/images/test/img_5.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
  
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up">
            <a href="/images/test/img_6.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_6.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <a href="/images/test/img_7.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_7.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
  
  
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
            <a href="/images/test/img_8.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_8.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <a href="/images/test/img_9.jpg" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/test/img_9.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
        </div>
          </div>
    </div>
</section>