<section class="gallery-section">
    <div class="container photos">
        <h2 class="section-heading text-center mb-4 pt-5" data-aos="fade-up">院網 Gallery</h2>
        <div class="section-intro text-center single-col-max mx-auto mb-5" data-aos="fade-up" data-aos-delay="100">在院網我們所創下的美好回憶！</div>
        <div class="row align-items-stretch">
          {% for photo in site.data.gallery %}
          <div class="col-6 col-md-6 col-lg-{{ photo.size }}" data-aos="fade-up" data-aos-delay="{{ photo.delay }}">
            <a href="/images/gallery/{{ photo.source }}" class="d-block photo-item" data-fancybox="gallery">
              <img src="/images/gallery/{{ photo.source }}" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="fa fa-search"></span>
              </div>
            </a>
          </div>
          {% endfor %}
          </div>
    </div>
</section>