<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
                <div class="promo pr-md-3 pr-lg-5">
                    <h1 class="headline mb-3">
                        2020 NTU COM Tennis<br>台大管理學院網球隊<br>招生網站   
                    </h1><!--//headline-->
                    <div class="subheadline mb-4">
                        上了大學想要維持健康規律的運動嗎？💪💪<br>
                        或者想學新的球類運動嗎？🎾🎾<br>
                        不論是已經會打網球、或者完全沒基礎，<br>
                        只要對網球有興趣的，<br>
                        都歡迎來參加我們管理學院網球隊‼️<br>
                        我們有分基礎區以及進階區<br>
                        所有人都可以來嘗試~<br>
                        除此之外，在這裡，<br>
                        還可以認識來自管院各系的朋友，<br>
                        一起打球、一起玩，<br>
                        沒有學長姐學弟妹制，<br>
                        是個溫馨的大家庭。👨‍👩‍👦‍👦👨‍👩‍👧
                    </div><!--//subheading-->
                    
                    <div class="cta-holder">
                        <a class="btn btn-primary mr-lg-2" href="{{ site.trialForm }}">火速報名試打</a>
                        <a class="btn btn-secondary scrollto" href="#benefits-section">了解更多</a>
                        
                    </div><!--//cta-holder-->
                    
                    <div class="hero-quotes mt-5" data-aos="fade-right">
                        <div id="quotes-carousel" class="quotes-carousel carousel slide carousel-fade mb-5" data-ride="carousel" data-interval="8000">
                            <ol class="carousel-indicators">
                                <li data-target="#quotes-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#quotes-carousel" data-slide-to="1"></li>
                                <li data-target="#quotes-carousel" data-slide-to="2"></li>
                            </ol>
                          
                            <div class="carousel-inner">
                                {% for exp in site.data.testimonials %}
                                {% if  exp.hero == true %}
                                {% if  exp.active == true %}
                                <div class="carousel-item active">
                                    {% else %}
                                    <div class="carousel-item">
                                {% endif %}
                                    <blockquote class="quote p-4 theme-bg-light">
                                        "{{ exp.quote }}"     
                                    </blockquote><!--//item-->
                                    <div class="source media flex-column flex-md-row align-items-center">
                                        <img class="source-profile mr-md-3" src="/images/profiles/{{ exp.image }}" alt="image" >
                                        <div class="source-info media-body text-center text-md-left">
                                            <div class="source-name">{{ exp.name }}</div>
                                            <div class="soure-title">{{ exp.title }}</div>
                                        </div>
                                    </div><!--//source-->
                                </div><!--//carousel-item-->
                                {% endif %}
                                {% endfor %}
                            </div><!--//carousel-inner-->
                        </div><!--//quotes-carousel-->
                        
                    </div><!--//hero-quotes-->
                </div><!--//promo-->
            </div><!--col-->
            <div class="col-12 col-md-5 mb-5 align-self-center">
                <div class="book-cover-holder">
                    <img class="img-fluid book-cover" src="/images/cover.png" alt="book cover" >
                    <div class="book-badge d-inline-block shadow">
                        Open<br>for Reg.
                    </div>
                </div><!--//book-cover-holder-->
                <br>
                <div class="text-center"><a class="theme-link scrollto" href="#reviews-section">查看所有評論</a></div>
            </div><!--col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//hero-section-->