<section id="audience-section" class="audience-section py-5">
    <div class="container">
        <h2 class="section-heading text-center mb-4" data-aos="fade-up">練習資訊</h2>
        <!-- <div class="section-intro single-col-max mx-auto text-center mb-5"> -->
        <!-- </div>//section-intro -->
        <div class="audience mx-auto" data-aos="fade-up">
            <div class="item media">
                <div class="item-icon mr-3"><i class="fas fa-clock"></i></div>
                <div class="media-body">
                    <h4 class="item-title">時間</h4>
                    <div class="item-desc">例練：每周一 18:00-20:20<br>
                        段考週前一週及當週停練<br>
                        <span class="text-danger">
                        資管系的同學別擔心，因為微積分的實習課會到 18:20，所以六點半來即可！<br>
                        </span>
                        練習後可以跟大家一起去吃宵夜！
                        </div>
                </div><!--//media-body-->
            </div><!--//item-->
            <div class="item media">
                <div class="item-icon mr-3"><i class="fas fa-sun"></i></div>
                <div class="media-body">
                    <h4 class="item-title">地點</h4>
                    <div class="item-desc">
                        台大中央網球場（近博雅教學館）<br>
                        雨天視情況停練（或是要跟隊長去健身房也是可以）！
                    </div>
                </div><!--//media-body-->
            </div><!--//item-->
            <div class="item media">
                <div class="item-icon mr-3"><i class="fas fa-plus-circle"></i></div>
                <div class="media-body">
                    <h4 class="item-title">其他資訊</h4>
                    <div class="item-desc">例練外每週另外開一個時段，可自由參加<br>
                        每次 1~2 小時，通常會選在假日練習。<br>
                        <span class="text-danger">
                        建議入隊的朋朋可以自行前往體育組購買網球證。證件不貴，新台幣 200 元/3 個月！
                        </span>
                        </div>
                </div><!--//media-body-->
            </div><!--//item-->
        </div><!--//audience-->
        <div class="row">
        <div class="col-lg-6 col-md-9 text-center" data-aos="fade-up">
            <!-- Section Tittle -->
                <h3 class="text-center mb-3 pt-3">例練內容</h3>
                可以參照此表決定什麼時間該前往什麼地點。
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">時間</th>
                        <th scope="col">內容</th>
                        <th scope="col">地點</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>18:00</td>
                        <td>跑網球場熱身</td>
                        <td>@中央網球場</td>
                      </tr>
                      <tr>
                          <td>18:20</td>
                          <td>教練帶練每週進度</td>
                          <td>@中央網球場</td>
                        </tr>
                        <tr>
                        <td>20:00</td>
                        <td>核心訓練、收操</td>
                        <td>@網球場旁的操場空地（對面為籃球場）</td>
                        </tr>
                        <tr>
                        <td>20:30</td>
                        <td>吃晚（宵）餐（夜）！</td>
                        <td>@練習完決定</td>
                        </tr>
                    </tbody>
                  </table>
                <p>註：若之後因為人數眾多，則不排除搬移至古亭河邊網球場練習。屆時，則第一項「跑網球場熱身」則會取消，因為騎腳踏去時便已熱身完畢。</p>
        </div>
        <div class="col-lg-6 col-md-9" data-aos="fade-up">
            <!-- Section Tittle -->
                <h3 class="text-center mb-3 pt-3">分家練內容</h3>
                <ul class="key-points-list list-unstyled mb-4 mx-auto d-inline-block text-left">
                    <li><i class="far fa-check-circle mr-2"></i>每週視情況另外開一個時段</li>
                    <li><i class="far fa-check-circle mr-2"></i>每次 1~2 小時</li>
                    <li><i class="far fa-check-circle mr-2"></i>由學長姐帶練，會事先公布在臉書社團，可自由參加</li>
                    <li><i class="far fa-check-circle mr-2"></i>複習當週例練進度</li>
                    <li><i class="far fa-check-circle mr-2"></i>可自由對打</li>
                </ul>
                
                <h3 class="text-center mb-3 pt-3">不定期比賽</h3>
                <p>每隔一段時間，我們會舉辦友誼賽、示範賽等等，讓大家藉由比賽更了解網球規則、增進球技</p>
        </div>
        </div>
    </div><!--//container-->
</section><!--//audience-section-->