<section id="reviews-section" class="reviews-section py-5">
    <div class="container">
        <h2 class="section-heading text-center" data-aos="fade-up">經驗分享</h2>
        <div class="section-intro text-center single-col-max mx-auto mb-5" data-aos="fade-up" data-aos-delay="100">聽聽看學長姐是怎麼說的吧！</div>
        <div class="row justify-content-center">
            {% for exp in site.data.testimonials %}
            <div class="item col-12 col-lg-4 p-3 mb-4" data-aos="fade-up">
                <div class="item-inner theme-bg-light rounded p-4">
                    <blockquote class="quote">
                        "{{ exp.quote }}"     
                    </blockquote><!--//item-->
                    <div class="source media flex-column flex-md-row align-items-center">
                        <img class="source-profile mr-md-3" src="/images/profiles/{{ exp.image }}" alt="image" >
                        <div class="source-info media-body text-center text-md-left">
                            <div class="source-name">{{ exp.name }}</div>
                            <div class="soure-title">{{ exp.title }}</div>
                        </div>
                    </div><!--//source-->
                    <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
                </div><!--//inner-->
            </div><!--//item-->
            {% endfor %}
        </div><!--//row-->
        <div class="text-center" data-aos="fade-up">
            <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSci1TFtdzPdYx7ps9v9OZOyhCUajUmrXRMJIrXh21mYTyvxbg/viewform?embedded=true" width="640" height="1232" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
            <a class="btn btn-primary" href="{{ site.trialForm }}" target="_blank">現在就前往填寫試打表單！</a>
        </div>
    </div><!--//container-->
</section><!--//reviews-section-->