<section id="author-section" class="author-section section theme-bg-primary py-5">
    <div class="container py-3">
        <div class="author-profile text-center mb-5">
            <img class="author-pic" src="/images/profiles/author-profile.png" alt="image" >
        </div><!--//author-profile-->
        <h2 class="section-heading text-center text-white mb-3">About The Author</h2>
        <div class="author-bio single-col-max mx-auto">
            <p>This book landing page template is made by product designer <a class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers. You can use this template to self-publish and promote your book/ebook. You can easily use platforms such as <a class="theme-link" href="https://gumroad.com/" target="_blank">Gumroad</a> to handle your book payment and delivery.</p>
            <p> This template is 100% FREE as long as you <strong>keep the footer attribution link</strong>. You do not have the rights to resell, sublicense or redistribute (even for free) the template on its own or as a separate attachment from any of your work. If you’d like to use this template without the footer attribution link, you can buy the <a class="theme-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devbook-free-bootstrap-4-book-ebook-landing-page-template-for-developers/" target="_blank"><strong>commercial license</strong></a>.</p>
            <div class="author-links text-center pt-4">
                <h5 class="text-white mb-4">Follow Author</h5>
                <ul class="social-list list-unstyled">
                    <li class="list-inline-item"><a href="https://twitter.com/3rdwave_themes"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/xriley"><i class="fab fa-github-alt"></i></a></li> 
                    <li class="list-inline-item"><a href="https://medium.com/@3rdwave_themes"><i class="fab fa-medium-m"></i></a></li>
                    
                    <li class="list-inline-item"><a href="https://themes.3rdwavemedia.com/"><i class="fas fa-globe-europe"></i></a></li>
                </ul><!--//social-list-->
            </div><!--//author-links-->
            
        </div><!--//author-bio-->
        
    </div><!--//container-->
</section><!--//author-section-->