<section id="author-section" class="author-section section theme-bg-primary py-5">
    <div class="container py-3">
        <h2 class="section-heading text-center text-white mb-3">關於我們</h2>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-9">
                <div class="single_speaker">
                <div class="speaker_thumb">
                    <img src="images/profiles/coach.png" alt="" />
                    <div class="hover_overlay">
                        <div class="social_icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="author-bio col-lg-6 col-md-9">
                <h3 class="text-white mb-3">教練介紹</h3>
                <h4 class="text-white mb-3">徐文安</h4>
                <ul class="key-points-list list-unstyled mb-4 mx-auto d-inline-block text-left">
                    <li><i class="fa fa-medal mr-2"></i>台大網球校隊</li>
                    <li><i class="fa fa-medal mr-2"></i>中國醫校隊</li>
                    <li><i class="fa fa-medal mr-2"></i>系網教練</li>
                    <li><i class="fa fa-medal mr-2"></i>中華民國網球協會認證 C級教練</li>
                    <li><i class="fa fa-medal mr-2"></i>大藥盃冠軍、台大盃冠軍</li>
                </ul>
                <p>例練的課表都是由教練辛苦安排的喔！如果對於訓練上有什麼疑問，除了問教學長（幹部）之外，也可以不要害怕，直接向教練請益。</p>
            </div>
        </div>
        <div class="row">
            <div class="author-bio col-lg-6 col-md-9">
                <h3 class="text-white mb-3">幹部成員</h3>
                <p>{{ site.description }}</p>
            </div>
            {% for member in site.data.team %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single_speaker">
                    <div class="speaker_thumb">
                        <img src="images/profiles/{{ member.image }}" alt="" />
                        <div class="hover_overlay">
                            <div class="social_icon">
                                {% for social in member.social %}
                                <a href="{{ social.link }}"><i class="fab fa-{{ social.name }}"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="speaker_name text-center">
                        <h3>{{ member.name }}</h3>
                        <p><kbd>{{ member.job }}</kbd> &sol; {{ member.major }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        
    </div><!--//container-->
</section><!--//author-section-->